body {
    background-color: black;
}

header {

    background: #ffffff;
    padding-top: 10px;
    height:30px;
}

nav {
    text-align: right;
    padding-bottom: 10px;
    color: rgb(11, 13, 133);
    
}
li {
    display: inline-block;
    font-size: 20px;
    position: relative;
    top:-65px;
    margin-bottom: 10px;
    
}

li a {
    color: rgb(0, 0, 0);
    margin-right: 20px;
    text-decoration: none;


}
#Saludo {
    color: rgb(0, 255, 255);
}


.Pi {
    text-align: left;
    position: relative;
    top: -20px;
    bottom: 100px;
    left: 10px;
    font-size: 20px;
    
}

hgroup {
    text-align: center;
    color: #ffffff;
    position: relative;
    top: 40px;
}


li a :hover ,
.lili:hover {

    transform: scale(1.2);
}

h1 , h2 {
    margin: 0;
} 

#Saludo {
    font-size: 1.2em;
}

.imagen {
    width: 150px;
    height: 150px;
    position: relative;
    top: 80px;
    border-radius: 50%;
    border: 2px solid rgb(0, 255, 255);
}

footer {
    background: #ffffff;
    padding: 10px;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    bottom: 55px;
    
}

.Whatsapp {
    color: rgb(0, 255, 255);

}



.Instagram {
    color: rgb(0, 255, 255);


}

.Facebook {
    color: rgb(0, 255, 255);
}

.contenedor a {
    font-size: 25px;
    transition: all ease 350ms;
    
}

.contenedor a :hover {
    transform: scale(1.2);
}

#lou {
    position: relative;
    bottom: 10px;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.lau {
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: right;
    position: relative;
    right: 100px;
    bottom: 80px;
    font-size: 20px;
}

.hgrup {
    margin-bottom: 20px;
}
#hh {
    position: relative;
    bottom: 20px;
}

.liik {
    font-size: 14px;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 0px;
    margin-right: 50px;
    padding-top: 0px;
    padding-inline-start: 0px;
}




.imagen-container {
    flex: 0 0 auto;
    margin-right: 20px;
}


.imgex {
    width: 200px;
    height: 200px;
    position: relative;
    top: 80px;
    right: 60px;
    border-radius: 50%;
    border: 3px solid rgb(0, 255, 255);
    
}

.texto-container {
    flex: 1;
    text-align: left;
    position: relative;
    right: 30px;

}


.contenedor-experiencia {
    background-color: #797979;
    padding: 20px;
    display: flex;
    justify-content: center;
    max-width: 450px;
    max-height: 350px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10%;
}

.contenido-centrado {
    display: flex;
}

.cajacontenedora {
    display: flex;
    flex: 1;
}